{% extends 'main/base.html' %}
{% block content %}
<section class="py-5 container">
  <h2>Mentions légales</h2>
  <p><strong>Éditeur :</strong> StudioVisioCom</p>
  <p><strong>Responsable de publication :</strong> Léo Vasseur</p>
  <p><strong>Adresse :</strong> Rue des Rêves, 00000 Ville Imaginaire</p>
  <p><strong>Email :</strong> <a href="mailto:studiovisiocom@gmail.com">studiovisiocom@gmail.com</a></p>

  <p><strong>Hébergeur :</strong> [Nom et adresse de l’hébergeur]</p>

  <p><strong>Crédits :</strong> Site réalisé par StudioVisioCom.</p>
</section>
{% endblock %}